:root {
  --hbg: rgba(0, 0, 0, 0.1);
  --grey: rgba(0, 0, 0, 0.3);
  --trn: all 0.2s ease-in-out;

  --nav--width: 160px;

  /* Colores */
  --first-color: dimgrey;
  --bg-color: rgb(169, 169, 169, 0.6);
  --sub-color: darkgrey;
  --font-color: ivory;

  /* Fuente y tipografia */
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 5rem;
  --small-font-size: 3rem;
  --smallest-font-size: 2rem;

  /* z index */
  --z-fixed: 100;
}
