.main-sub {
  margin-top: 13.5vh;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 18vh;
}

.practice-words1,
.practice-words2 {
  padding: 5px 0px;
}

.practice-main-sub {
  margin-top: 13.5vh;
}

.practice-content-detail {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
}

.pratice-detail {
  width: 100%;
}
