.main-sub {
  margin-top: 13.5vh;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 18vh;
}

.praying-words1,
.praying-words2 {
  padding: 5px 0px;
}

.praying-main-sub {
  margin-top: 13.5vh;
}

.praying-content-detail {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
}

.praying-detail {
  width: 100%;
}
