.main-sub {
  margin-top: 13.5vh;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 18vh;
}

.worship-words1,
.worship-words2,
.worship-words3,
.worship-words4 {
  padding: 5px 0px;
}

.worship-main-sub {
  margin-top: 2vh;
  font-size: 1.5rem;
}

.worship-detail {
  font-size: 2.25rem;
}

.worship-content-detail {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
}

.line-height {
  line-height: 175%;
}
