body {
  padding: 0;
}

.footer {
  width: 100vw;
  object-fit: contain;
  background-color: black;
  color: white;
}

.footer-content {
  padding-top: 3.6vh;
  margin-bottom: 31px;
  display: table;
  width: 100%;
  text-align: center;
  position: inherit;
}

.insta,
.youtube {
  margin: 0rem 5rem;
}

.comments,
.chat {
  text-align: center;
}
